* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	/* font-family: "Roboto Mono", monospace; */
}
:root {
	--background-color: rgb(173, 173, 173);
	--primary-text: black;
	--seccondary-text: rgb(58, 58, 58);
	--accent-color: rgb(219, 60, 60);
	--accent-color-dark: rgb(180, 47, 47);
}
@font-face {
	font-family: leaguegothic;
	src: url(assets/League-Gothic/LeagueGothic-Regular.otf);
  }
body {
	margin-top: 5vh;
	margin-left: 10vh;
	margin-right: 10vh;
	background-color: var(--background-color);
}
section {
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Roboto', sans-serif;
}
ul{
	margin-top: 20px;
	margin-bottom: 20px;
}
img {
	border-radius: 60px;
}
#summary{
	display: flex;
	flex-direction: row;
	align-items: center;
}
#summary>ul>li{
	display: flex;
	align-items: center;
}
#contact {
	list-style-type:none;
	margin: 50px;
}
section>ul>li{
	margin-top: 10px;
	margin-bottom: 5px;
}
.period {
	color: var(--seccondary-text);
	padding-left: 10px;
}
h1 {
	font-family: leaguegothic;
	font-size: 60px;
	text-decoration: underline;
	text-decoration-color: var(--accent-color);
	text-decoration-thickness: 10px;
}
h2 {
	font-family: leaguegothic;
	font-size: 30px;
	text-decoration: underline;
	text-decoration-color: var(--accent-color);
	text-decoration-thickness: 3px;
	margin-top: 20px;
	margin-bottom: 20px;
}
h3 {
	font-family: leaguegothic;
	font-size: 25px;
}
