#example
{
    position: fixed;
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 70em;
    width: 75%;
    /* just for example presentation */
    top: 5em;
    background-color: rgb(189, 189, 189);
}
#example2
{
    position: fixed;
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 80em;
    width: 75%;
    /* just for example presentation */
    top: 25em;
    background-color: rgb(223, 223, 223);
}
.how-right img {
    float:left;
    margin-right:20px;
    vertical-align:middle;
}
ul {
    list-style: none;
    display: table;
  }
li {
    display: table-row;
}  
h3 {
    
    color: rgb(170, 62, 147);
    
    padding-left: 2em;
    padding-right: 1em;
}
#example3
{
    position: fixed;
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 75%;
    /* just for example presentation */
    top: 37em;
    background-color: rgb(223, 223, 223);
}
