#example
{
    position: fixed;
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 50em;
    width: 75%;
    /* just for example presentation */
    top: 5em;
    background-color: rgb(189, 189, 189);
}
#example2
{
    position: fixed;
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 75%;
    /* just for example presentation */
    top: 25em;
    background-color: rgb(223, 223, 223);
}
.how-right img {
    float:left;
    margin-right:20px;
    vertical-align:middle;
}
span {
    height: 200px;            
    display: table-cell;
    vertical-align: middle;
}
ul {
    list-style: none;
    display: table;
  }
li {
    display: table-row;
}  
c {
    font-family: Roboto, Century Gothic, sans-serif;

    color: rgb(170, 62, 147);
    display: table-cell;
    padding-right: 1em;
}
d {
    /*font-family: Arial, Helvetica, sans-serif;*/
    color: rgb(150, 150, 150);
    display: table-cell;
    padding-left: 1em;
    padding-right: 1em;
}
e {
    /*font-family: Arial, Helvetica, sans-serif;*/
    color: rgb(150, 150, 150);
    display: table-cell;
    padding-left: 1em;
    padding-right: 1em;
}
h3 {
    
    color: rgb(170, 62, 147);
    
    padding-left: 2em;
    padding-right: 1em;
}
#example3
{
    position: fixed;
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 75%;
    /* just for example presentation */
    top: 40em;
    background-color: rgb(223, 223, 223);
}
#example4
{
    position: fixed;
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 75%;
    /* just for example presentation */
    top: 75em;
    background-color: rgb(223, 223, 223);
}